/* connexion.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none;
}

/* Organisation des colonnes du PopUp */
.back {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.photo {
    border-radius: 7px;
    background-image: url(../img/abeilleconnexion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Mise en place du formulaire */
form {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
}

.connectez {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    text-align: center;
}
/* ep (page connexion) = email+ passeword */
.ep input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
    border: 1px solid #f1a100;
    width: 100%;
}
.ep{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
/* epc (page inscription) = email + passeword + confirm passeword */
.epc input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
    border: 1px solid #f1a100;
    width: 100%;
}

.epc {
    display: flex;
    flex-direction: column;
    gap: 24px;
}



button {
    background-color: #f1a100;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #d88e00;
}

/* Bouton inscription */
.inscription {
    text-align: center;
    font-size: 16px;
}

.inscription span {
    color: #f1a100;
    font-weight: bold;
    cursor: pointer;
}

.inscription span:hover {
    text-decoration: underline;
}

/* Bar de jonction  */
hr {
    width: 100%;

}

.civil {
    display: flex;
    align-items: center;
    gap: 28px;
}

.cookie {
    display: flex;
    align-items: baseline;
    gap: 14px;
}
b{
    color: rgb(129, 0, 0);
}