/* corp global de la page */

main {
    width: 80%;
    margin: auto;
}


/* titres de la page de gestion des utilisateurs */

.Titre {
    font-family: Montserrat-black;
    color: #212121;
}

.SousTitre {
    color: #212121;
    font-family: Montserrat-bold;
}

/* tableau de bord */

/* contour du tableau de bord */

.Contour {
    border: solid #CFCFCF 1px;
    border-radius: 20px;
    padding-top: 32px;
    padding-bottom: 32px;
}

/* elements du tableau de bord */

.LesElements {
    display: flex;
    justify-content: space-around;
}

.Element {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* données */

.Chiffre {
    color: #B95E06;
    font-family: Montserrat-black;
}

/* taille du svg par dessus la donnée */

.SVG {
    width: 20%;
}

/* flex de tous les utilisateurs du site */

.LesUtilisateurs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
    gap: 16px;
}


/* contour des cases des utilisateurs */


.GrandeCase {
    border: dashed 1px #B95E06;
    padding: 8px;
    border-radius: 16px;
    border-style: dashed;
    display: flex;
    flex-direction: column;
}


/* interieur des cases des utilisateurs */

.PetiteCase {
    border: dashed 1px #B95E06;
    border-radius: 8px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
}

.PetiteCase>b{
    margin-top: auto;
}

/* border radius des photos */

.photo {
    border-radius: 8px 8px 0px 0px;
}

/* informations utilisateurs */

.Information {
    background-color: #B95E06;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 0px 0px 8px 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

/* taille du chart js au centre */

#myChart {
    height: 300px;
    display: flex;
    margin: auto;
}

/* graph */

.LeGraph {
    margin-top: 32px;
}

/* cache pour les annonces en pop up */

.cachetjrla {
    position: fixed;
    background: rgba(0, 0, 0, 0.697);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10000;
}

/* div pour les informations erreur */

.informationerreur {
    position: fixed;
    background: #F7F3F0;
    border-radius: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10001;
    scrollbar-color: rgb(245, 231, 214) rgba(125, 125, 125, 0);
    scrollbar-width: thin;
    padding: 20px;

}


/* message pour l'admin */

.messageuser {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}


/* class lors ce qu'on l'enlève */

.enlever{
    display: none !important;
}

/* pop up pour les informations de l'utilisateur choisi */

.pop_up_fixed_info_users{
    position: fixed;
    background: #F7F3F0;
    display: grid;
    grid-template-columns: 1.5fr 3.5fr;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    border-radius: 24px;
    gap: 50px;
    padding: 10px;
    min-height: 550px;
    z-index: 100001;
}

/* photo a gauche */
.photo_left{
    background-image: url(../img/appiculteur_admin.jpg);
    background-size: cover;
    background-position: 35%;
    border-radius: 14px;
}

/* informations de l'utilisateur */

.informations_and_icones{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
}

.grasuser{
    font-family: Montserrat-bold;
}

/* cases avec les infos de l'utilisateur */

.casejaune{
    padding: 10px;
    border: solid 2px #D38932;
    border-radius: 14px;
}

/* input pour le changement de mot de passe */
input{
    background: transparent;
    width: 100%;
    padding: 5px;
    border: none;
}
.casejaune{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* enlever la bordure du input pour être plus joli */
.enleverstpp:focus{
    outline: none;
    border: none;
}


/* boutons d'envoie */
.boutons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

/* bouton pour reset le mot de passe */

.reset_password{
    background: #EBA942;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 14px;
    cursor: pointer;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.532);
}

/* quand on le presse, le style change */
.reset_password:active{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.532);
}

.delet_account:active{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.532);
}


/* bouton de suppression du compte */
.delet_account{
    border-radius: 14px;
    background: #D38932;
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.532);
}


.icone>img{
    width: 30px;
}

.infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infos>form>button{
    text-align: center;
    width: 100%;
    border: none;
    border-radius: 14px;
    color: white;
    padding: 10px;
    background: #EBA942;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.532);
}
.infos>form>button:active{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.532);
}

/* fermer le panneau */

#croixuserchoose{
    width: 30px;
    cursor: pointer;
}

.user_name{
    display: flex;
    justify-content: space-between;
}