.Element{
    text-align: center;
}

#myChart{
    width: 100%;
}

.informations_and_icones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
}

.texte_info{
    line-height: 70%;
}

.pop_up_fixed_info_users{
    display: flex;
    grid-template-columns: 1.5fr 3.5fr;
    width: 90%;
    padding: 0px;
    justify-content: center;
}

.infos{
    width: 90%;

}