.titre_top_centre {
    width: 80%;
    margin: auto;
}

.titre_normal {
    font-size: 36px;
}

.grid_ajout_ruche {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 5fr 1fr 6fr;
    gap: 20px;
}

.nom_ruches {
    display: flex;
    flex-direction: column;
}

#map {
    height: 100%;
    border-radius: 20px;
}

/* #914D1E */


.ajout_ruches{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
}


.nom_ruche{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ID_appareil{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    padding: 5px;
    border-radius: 5px;
    border: solid 2px #914D1E;
}

.minigrid{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 20px;
}

.long{
    display: flex;
    gap: 20px;
    align-items: center;
}
.lat{
    display: flex;
    gap: 20px;
    align-items: center;
}

.boutons{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 20px;
}

.boutons>input{
    background-color: #914D1E;
    color: white;
    grid-row: 2;
}

.loc{
    text-align: center;
    border: solid 2px #914D1E;
    padding: 5px;
    border-radius: 5px;
}

.partie2{
    margin-top: 40px;
    margin-bottom: 60px;
}
.gridcentre{
    width: 60%;
    margin: auto;
    display: flex;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
    transition: 0.5s;
}

.photo>img{
    border-radius: 11px;
}

.case{
    padding: 10px;
    border: dashed #914D1E 2px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(.18,.37,.83,1.18);
    width: 200px;
}

.bout{
    text-align: center;
    padding: 5px;
    background: #914D1E;
    color: white;
    border-radius: 11px;
}


.deletruche{
    animation: forwards 0.7s enlever;
}

@keyframes enlever{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    10%{
        transform: translateY(10%);
        opacity: 1;
    }
    50%{
        transform: translateY(-100%);
        opacity: 0;
        width: 200px;
    }
    100%{
        transform: translateY(-100%);
        opacity: 0;
        width: 0;
    }
}