/*icone pour les inscriptions et les ruches */
.Element{
    text-align: center;
}

#myChart{
    width: 100%;
}

/* Remise en page de l'encadré */
.informations_and_icones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
}

/* Pour pas que le texte prenne trop de place dans la mise en page */
.texte_info{
    line-height: 70%;
}

/* La pop up qui apparait si on veut les informations d'un utilisateur */
.pop_up_fixed_info_users{
    display: flex;
    grid-template-columns: 1.5fr 3.5fr;
    width: 90%;
    padding: 0px;
    justify-content: center;
}

.infos{
    width: 90%;

}