.titre_top_centre {
    width: 80%;
    margin: auto;
}

.titre_normal {
    font-size: 36px;
}

.grid_ajout_ruche {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 5fr 1fr 6fr;
    gap: 20px;

}
.grid_ajout_user {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 5fr 7fr;
    gap: 20px;
    margin-bottom: 50px;
}
.nom_ruches {
    display: flex;
    flex-direction: column;
}

#map {
    height: 100%;
    border-radius: 20px;
}

.ajout_ruches{
    display: grid;
    gap: 20px;
}

button{
    background: #B95E06;
    color: white;
    padding: 5px;
    padding-inline: 20px;
    border: none;
    margin-top: 40px;
    border-radius: 6px;
}

.nom_ruche{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ID_appareil{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    padding: 5px;
    border-radius: 5px;
    border: solid 2px #B95E06;
}

.minigrid{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 20px;
}

.long{
    display: flex;
    gap: 20px;
    align-items: center;
}
.lat{
    display: flex;
    gap: 20px;
    align-items: center;
}

.boutons{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 20px;
}

.boutons>input{
    background-color: #B95E06;
    color: white;
    grid-row: 2;
}

.loc{
    text-align: center;
    border: solid 2px #B95E06;
    padding: 5px;
    border-radius: 5px;
}

.partie2{
    margin-top: 40px;
    margin-bottom: 60px;
}
.gridcentre{
    width: 60%;
    margin: auto;
    display: flex;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
    transition: 0.5s;
}

.photo>img{
    border-radius: 11px;
}

.case{
    padding: 10px;
    border: dashed #B95E06 2px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(.18,.37,.83,1.18);
    width: 200px;
}

.bout{
    text-align: center;
    padding: 5px;
    background: #B95E06;
    color: white;
    border-radius: 11px;
}


.deletruche{
    animation: forwards 0.7s enlever;
}

@keyframes enlever{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    10%{
        transform: translateY(10%);
        opacity: 1;
    }
    50%{
        transform: translateY(-100%);
        opacity: 0;
        width: 200px;
    }
    100%{
        transform: translateY(-100%);
        opacity: 0;
        width: 0;
    }
}

.case>b{
    margin-top: auto;
}

.carte_ruche{
    display: flex;
    align-items: center;
}

.carte_ruche>img{
    border-radius: 20px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.parentdoubleFormulaire{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mdp>label{
    display: flex;
    align-items: center;
}

.mdp>label>input{
    margin-left: auto;
    width: 400px;
    margin-right: 10px;
}


.nom_ruche>label{
    display: flex;
    align-items: center;
}

.nom_ruche>label>input{
    margin-left: auto;
    width: 500px;
}

.validation>label{
    display: flex;
    align-items: center;
}


.validation>label>input{
    margin-left: auto;
    margin-right: 10px;
}

.valid{
    margin-left: auto;
    border: none;
    background: #B95E06;
    color: white;
    cursor: pointer;
    padding-inline: 20px;
}

.form_elt{
    display: flex;
}

.form_elt>input:nth-child(2){
    width: 400px;
}
.form_elt>label{
    border: #B95E06 dashed 0.3px;
    padding: 20px;
    padding-inline: 100px;
}
.orange{
    color: #B95E06;
}

.mdpconnex{
    position: relative;
}

.oeil{
    width: 40px;
}
