.centre_haut_titre {
    width: 80%;
    margin: auto;
}

/* styles du filtre des ruches */

.filtre {
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-bottom: 1px #999999 solid;
}

/* menus deroulants */

.menus_deroulant {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    cursor: pointer;
}

.menu_deroulant {
    display: flex;
    align-items: center;
    gap: 30px;
    color: #fff;
    padding: 5px;
    background: #B95E06;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.459);
    position: relative;
}

/* fleches vers le bas */

.fleche {
    display: flex;
    align-items: center;
}

/* informations sur les ruches */

.ruche_informations {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 6fr 1fr 5fr;
}

/* titre ruche */
h2 {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* infos de base ruche */

.ruche_informations_contour{
    padding-top: 50px;
    padding-bottom: 50px;
}

/* changements une fois sur deux */
.ruche_informations_contour:nth-child(even){
    background: #FAF0E3 !important;
}

.ruche_informations_contour:nth-child(even)>.ruche_informations{
    grid-template-columns: 5fr 1fr 6fr !important;
}

.ruche_informations_contour:nth-child(even)>.ruche_informations>.informations_base_note{
    grid-column: 3;

}

.ruche_informations_contour:nth-child(even)>.ruche_informations>.graphiques{
    grid-column: 1;
    grid-row: 1;
}
.ruche_informations_contour:nth-child(even)>.ruche_informations>.espace{
    grid-column: 2;
}



.flex_image_info {
    display: flex;
    gap: 20px;
}

/* boutons des notes */

.boutons_note {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff;

}
/* espace pour le grid */
.espace{
    width: 100%;
}

/* boutons ajout note ou gestion notes */

.left_button {
    background-color: #B95E06;
    padding: 5px;
    padding-inline: 20px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.459);
    transition: 0.4s;
}

.right_button {
    background-color: #B95E06;
    padding: 5px;
    cursor: pointer;
    padding-inline: 20px;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.459);
    transition: 0.4s;
}

/* boutons lors-ce que l'on clique dessus */
.left_button:active{
    transform: scale(0.9);
}
.right_button:active{
    transform: scale(0.9);
}
.grid_placement_titre {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
}

/* grid des notes */

.grid_notes {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
}

.boutons {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

/* boutons de la note lors-ce qu'elle est choisie */

.bouton_note_select {
    background: #B95E06;
    font-weight: bold;
    color: #fff !important;
    border: #B95E06 solid 1px !important;
}


/* style par défaut du bouton */
.bouton_note {
    padding: 5px;
    padding-inline: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #B95E06;
    border: #B95E06 solid 1px;
    cursor: pointer;
}

.bottom_bouton {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.note {
    border-top: 1px dashed #B95E06;
    border-bottom: 1px dashed #B95E06;
    height: 250px;
    overflow-y: scroll;
}

/* style du bouton voir plus */

.bouton_voir_plus {
    padding: 5px;
    padding-inline: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    background: #B95E06;
}

/* modification et suppression */
.modifier {
    padding: 5px;
    padding-inline: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    background: #B95E06;
    color: #fff;
}

.supprimer {
    padding: 5px;
    padding-inline: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #B95E06;
    border: #B95E06 solid 1px;
}

#map {
    border-radius: 14px;
    height: 550px;
}


/* menu deroulant caché */
.absolute_deroulant{
    position: absolute;
    width: 100%;
    top: 110%;
    left: 0;
    background-color: #B95E06;
    border-radius: 3px;
    max-height: 500px;
    overflow-y: scroll;
    scrollbar-color: rgb(245, 231, 214) rgba(125, 125, 125, 0);
    scrollbar-width: thin;
    transition: 0.4s;
    transform-origin: top center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.493);
    transform: scaleY(0);
}

/* déroulé */
.ouvert{
    transform: scaleY(1);
}

/* choix dans le menu déroulant  */
.choix{
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.choix::after{
    content : "";
    position: absolute;
    top: 0;
    z-index: -1;
    bottom: 0;
    width: 0;
    transition: 0.4s;
    left: 0;
    background: #FFA43C;
}

.choix:hover::after{
    width: 100%;
}

a{
    color: #fff;
}


/* fermeture des divs en fonction du filtre choisi */
.disparu{
    display: none;
}

.disparu2{
    display: none;
}
.disparu3{
    display: none;
}
.disparu4{
    display: none;
}


/* créateur de notes */

.formulairetest{
    z-index: 1000000;
    position: fixed;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFA;
    border-radius: 20px;
    display: none;
}

/* editeur de text de quill */

#editor{
    height: 250px;
    background: url(../img/feuille.jpg);
    background-size: cover;
    border: none;
}

.ql-toolbar {
    
    border: 1px solid #FFFFFA;
    border-radius: 20px 20px 0 0 ;
}

#toolbar{
    background: white;
}
.formopen{
    display: block;
}


/* carte en position fixed */

.fixed_carte{
    position: fixed;
    width: 1200px;
    height: 550px;
    border-radius: 24px;
    top: 50%;
    border: solid 10px white;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000000;
    transition: 0.4s;
    display: none;
}

/* croix de fermeture */

.croixfixed{
    z-index: 1000001;
    position: fixed;
    width: 50px;
    cursor: pointer;
    background-color: white;
    left: -5px;
    bottom: -5px;
    padding: 10px;
    border-radius:  0px 14px 0 14px;
}

/* fond foncé */


.cache_fond{
    position: fixed;
    background: rgba(0, 0, 0, 0.697);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10000;
    display: none;
}

/* boutons et icones du formulaire et de la carte */

.formbouton{
    background: #914D1E;
    color: #fff;
    padding: 5px;
    padding-inline: 10px;
    border: none;
    margin: 20px;
    margin-left: auto;
    display: flex;
    cursor: pointer;
}

.iconcarte{
    width: 60px;
    position: fixed;
    cursor: pointer;
    right: 50px;
    bottom: 50px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
    transition: 0.4s;
}

.iconcarte:active{
    transform: scale(0.9);
}

/* page de confirmation d'une action précédente*/

.confirmation{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000002;
    width: 350px;
    box-shadow: black 0 0 10px;
    background: #FFFFFA;
    border-radius: 16px;
    display: none;
}

/* ouverture de la confirmation */
.ouvert2{
    display: block;
    animation: forwards apparaitre 0.4s;
}
/* animation pour une aparition smooth */
@keyframes apparaitre{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* interieur de la cellule de confirmation */
.titresec{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EBB67A;
    border-radius:  16px 16px 0 0 ;
}

.croix{
    width: 35px;
}

.infoajt{
    padding: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 0 0 16px 16px;
}

.disabled{
    display: none;
}

#ruchesfiltre{
    display: block;
}


/* stats des ruches pour la dernière mesure */
.informations_ruche{
    flex: none;
}


.centrenoruche{
    text-align: center;
    padding: 130px;
}