@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-black;
    src: url(../font/Montserrat-Black.ttf);
}

@font-face {
    font-family: Montserrat-bold;
    src: url(../font/Montserrat-Bold.ttf);
}

body {
    font-family: Montserrat;
    margin: 0;
}

.TitreHeader {
    color: #914D1E;
    font-family: Montserrat-bold;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.TitreHeader {
    font-weight: bold;
    font-size: 24px;
}

.ConteneurHeader {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: #914D1E;
    align-items: center;
    margin-top: 16px;
}

.RucheHeader {
    color: #3F221C;
}

.BoutonHeader2 {
    color: black;
}

.BoutonHeader {
    color: white;
    background-color: #914D1E;
    padding: 8px;
    border-radius: 4px;
    padding-left: 32px;
    padding-right: 32px;
}

.HeaderPartieDroite {
    display: flex;
    align-items: center;
    gap: 16px;
    color: black;
    flex: end;
}

.AbeilleDeco1 {
    width: 1.7%;
    position: fixed;
    top: 5%;
    left: 52%;
    transform: rotate(-45deg);
    z-index: -1;
}

.AbeilleDeco2 {
    width: 1.7%;
    position: fixed;
    top: 30%;
    left: 95%;
    transform: rotate(-45deg);
    z-index: -1;
}

.AbeilleDeco3 {
    width: 1.7%;
    position: fixed;
    top: 87%;
    left: 12%;
    transform: rotate(45deg);
    z-index: -1;
}

.SVG1 {
    position: fixed;
    transform: rotate(8deg);
    top: 0%;
    left: 0%;
    z-index: -1;
}

.SVG2 {
    position: fixed;
    transform: rotate(200deg);
    left: 0%;
    top: 0%;
    z-index: -1;
}

footer {
    background-color: #472B17;
    color: white;
}

.FooterGlobal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 80%;
    margin: auto;
}

.FooterPartie1 {
    height: 100%;
    padding-right: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h3 {
    font-weight: bold;
}

.BordureFooterGauche {
    display: flex;
    flex-direction: column;
    border-left: 1px solid white;
    padding-left: 8px;
    gap: 32px;
}

.FooterBouton1 {
    color: white;
    align-self: flex-start;
    color: white;
    font-weight: bold;
}

.FooterPartie2Parent {
    padding-left: 10%;
}

.FooterPartie2 {
    display: flex;
    gap: 10%;
}

.FooterPartie2SousPartie1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-left: 1px solid white;
    padding-left: 16px;
    align-self: self-start;
}

.FooterPartie2SousPartie2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-left: 1px solid white;
    padding-left: 16px;
    align-self: self-start;
}

.ArrangementDeLaPartie2DuFooter {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.LienRapides {
    margin-top: 32px;
    margin-bottom: 32px;
}

.ListeDesActions {
    display: flex;
    gap: 32px;
}

.FooterPartieBasse {
    width: 80%;
    margin: auto;
    padding-bottom: 16px;
}

.FooterPartieBasseBordure {
    margin-top: 16px;
    margin-bottom: 16px;
    border-top: 1px solid white;
}

.ParentFooterLogo {
    display: flex;
    justify-content: start;
    margin-top: 32px;
    gap: 32px;
}

.FooterLogo {
    width: 32px;
    height: 32px;
}

.Actions {
    text-decoration: none;
    color: white;
    position: relative;
}

.Actions::before {
    content: "";
    position: absolute;
    height: 1px;
    background: white;
    width: 0%;
    bottom: 0;
    transition: 0.4s;
}

.Actions:hover::before {
    width: 100%;
}