/* décorations générales */

.AbeilleDeco1 {
    width: 1.7%;
    position: fixed;
    top: 5%;
    left: 52%;
    transform: rotate(-45deg);
    z-index: -1;
}

.AbeilleDeco2 {
    width: 1.7%;
    position: fixed;
    top: 30%;
    left: 95%;
    transform: rotate(-45deg);
    z-index: -1;
}

.AbeilleDeco3 {
    width: 1.7%;
    position: fixed;
    top: 87%;
    left: 12%;
    transform: rotate(45deg);
    z-index: -1;
}

.SVG1 {
    position: fixed;
    transform: rotate(8deg);
    top: 0%;
    left: 0%;
    z-index: -1;
}

.SVG2 {
    position: fixed;
    transform: rotate(200deg);
    left: 0%;
    top: 0%;
    z-index: -1;
}

/* taille minimum du main */

main{
    min-height: 70vh;
}

/* titres notes */

h3 {
    font-weight: bold;
}

/* infos pour chaque notes */

.ruche_all_notes{
    padding: 40px;
}

/* style différents pour les lignes paires */

.ruche_all_notes:nth-child(even){
    background: #FAF0E3;
}


/* centrer le tout */
.center{
    width: 80%;
    margin: auto;
}
.center2{
    width: 80%;
    margin: auto;
}

/* bouton ajout notes */
.boutonajout{
    padding: 5px;
    background: #B95E06;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.249);
    border: none;
    padding-inline: 20px;
    border: none;
    transition: 0.4s;
    border-radius: 3px;
}

/* bouton préssé */

.boutonajout:active{
    transform: scale(0.9);
    box-shadow: none;
}

/* grid de toute les notes par ruches */

.gridnotesall{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}

/* contour et contenu des notes */

.contournote{
    padding: 10px;
    background: #F5F5F5;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.249);
}

.top{
    border-bottom: 1px #B95E06 solid;
}

.content{
    height: 75px;
    overflow-y: hidden;
}

.boutons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* boutons notes */

.voirnote{
    color: #B95E06;
    border: solid 1px #B95E06;
    padding: 5px;
    padding-inline: 10px;
    cursor: pointer;
    border-radius: 6px;
}

.supprimernote{
    color: white;
    padding: 5px;
    background: #B95E06;
    padding-inline: 10px;
    border-radius: 6px;
}


/* deroulant filtre ruches */
.deroulantruche{
    position: relative;
    background: #B95E06;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    padding-inline: 15px;
    cursor: pointer;
    border-radius: 6px;
}

.deroulantruche>p{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* choix des ruches */

.choixruche{
    display: flex;
    align-items: center;
    gap: 20px;
}

/* deroulant caché */

.absolute_deroulant{
    position: absolute;
    width: 100%;
    top: 110%;
    left: 0;
    background-color: #B95E06;
    border-radius: 3px;
    max-height: 500px;
    overflow-y: scroll;
    scrollbar-color: rgb(245, 231, 214) rgba(125, 125, 125, 0);
    scrollbar-width: thin;
    transition: 0.4s;
    transform-origin: top center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.493);
    transform: scaleY(0);
}

/* déroulant ouvert */
.ouvert{
    transform: scaleY(1);
}

/* choix et animation au hover */
.choix{
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.choix::after{
    content : "";
    position: absolute;
    top: 0;
    z-index: -1;
    bottom: 0;
    width: 0;
    transition: 0.4s;
    left: 0;
    background: #FFA43C;
}

.choix:hover::after{
    width: 100%;
}

a{
    color: #212121;
}

/* formulaire des notes et éditeur */
.formbouton{
    background: #B95E06;
    color: white;
    padding: 5px;
    padding-inline: 10px;
    border: none;
    margin: 20px;
    margin-left: auto;
    display: flex;
    cursor: pointer;
}
.disparu4{
    display: none;
}



.formulairetest{
    z-index: 1000000;
    position: fixed;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFA;
    border-radius: 20px;
    display: none;
}
/* styles de l'éditeur quill.js */
#editor{
    height: 250px;
    background: url(../img/feuille.jpg);
    background-size: cover;
    border: none;
}

.ql-toolbar {
    
    border: 1px solid #FFFFFA;
    border-radius: 20px 20px 0 0 ;
}

#toolbar{
    background: white;
}
.formopen{
    display: block;
}

.ouvert2{
    display: block;
    animation: forwards apparaitre 0.4s;
}
/* anmiation pour l'ouverture */
@keyframes apparaitre{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


/* bouton de validation du changement ou ajout de notes */
.valider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 10px;
}

.exit{
    width: 30px;
    cursor: pointer;
}