
/* informations globales ruches */

.ruche_informations{
    display: block;
}

/* notes du site */

.grid_notes{
    grid-template-columns: 1fr;
}

.note{
    grid-row: 1;
}
.void{
    display: none;
}

.grid_placement_titre{
    grid-template-columns: 1fr;
}

.grid_notes{
    margin-bottom: 50px;
}

.g1{
    margin-bottom: 50px;
}

/* filtre de recherches */


.filtre{
    display: block;
}
.image_ruche{
    display: none;
}

canvas{
    margin-top: 10px;
}
.graphiques{
    display: block;
}