.ParentPartie3 {
    background-color: #FAF0E3;
}

.ParentPartie5 {
    background-color: #FAF0E3;
}

.ParentPartie6 {
    background-color: #FAF0E3;
}

.ParentPartie2 {
    background-color: transparent;
}

.ParentPartie4 {
    background-color: transparent;
}

.ParentPartie1 {
    background-color: transparent;
}

/* .notif {
    display: flex;

} */

