/* mise en place des polices globales du document */

@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-black;
    src: url(../font/Montserrat-Black.ttf);
}

@font-face {
    font-family: Montserrat-bold;
    src: url(../font/Montserrat-Bold.ttf);
}

body {
    font-family: Montserrat;
    margin: 0;
    color: #212121;
    background: #F7F3F0;
}

/* styles du header */

.TitreHeader {
    color: #B95E06;
    font-family: Montserrat-bold;
}

header {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* images et liens généraux du site */
img {
    width: 100%;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* styles du header */

.TitreHeader {
    font-weight: bold;
    font-size: 24px;
}

.ConteneurHeader {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: #B95E06;
    align-items: center;
    margin-top: 16px;
}

.RucheHeader {
    color: #212121;
}

.mail {
    /* display: flex; */
    width: 50px;
}

/* boutons du header */
.BoutonHeader2 {
    color: #212121;
}

.BoutonHeader {
    color: white;
    background-color: #B95E06;
    padding: 8px;
    border-radius: 4px;
    padding-left: 32px;
    padding-right: 32px;
    z-index: 5;
}

.HeaderPartieDroite {
    display: flex;
    align-items: center;
    gap: 16px;
    color: black;
}

.BarreSousHeader {
    display: flex;
    flex-direction: column;
}

.LaBarre {
    background-color: #B95E06;
    height: 8px;
    width: 32px;
    transform: translateY(-200%);
    transition: 0.4s;
    z-index: 3;
}

.LaBarre2 {
    background-color: #B95E06;
    height: 8px;
    width: 32px;
    transform: translateY(-100%);
    transition: 0.4s;
}

.Partie1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 64px;
    margin-bottom: 32px;
}

.Partie1Texte {
    padding-right: 5%;
}

.Partie1Image {
    padding-left: 5%;
}

.Partie1Bouton {
    display: flex;
    gap: 32px;
    font-weight: bold;
    width: 400px;
}

/* titre du site */

.TitrePrincipal {
    line-height: 84%;
    margin: 0px;
    font-size: 96px;
    color: #212121;
    font-family: Montserrat-black;
}

.SousTitre {
    font-size: 28px;
    font-weight: bold;
    font-family: Montserrat-bold;
}


/* boutons */
.Partie1Bouton1 {
    background-color: #B95E06;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    border-radius: 4px;
    justify-content: center;
}

.Partie1Bouton2 {
    border-radius: 4px;
    background-color: transparent;
    color: #B95E06;
    border: solid 1px #B95E06;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    justify-content: center;
}

/* partie 2 du site */
.ParentPartie2 {
    background-color: #FAF0E3;
    padding-top: 64px;
    padding-bottom: 64px;
}

.Partie2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: auto;
    width: 80%;
}

.Partie2Titre {
    color: #212121;
    font-family: Montserrat-black;
}

.Partie2Image {
    padding-right: 5%;
}

/* .Partie2Texte {
    padding-left: 5%;
} */


/* partie 3 des informations de la page d'accueil : styles des images */
.Partie3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    min-height: 400px;
    width: 80%;
    margin: auto;
    gap: 8px;
}

.Partie3Image1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    height: 100%;
    background-image: url(../img/Ruche.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.Partie3Image2 {
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
    background-image: url(../img/RucheChamp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.Partie3Image3 {
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
    background-image: url(../img/Apiculteurs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.Partie3Image4 {
    grid-column: 5 / span 1;
    grid-row: 1 / span 2;
    background-image: url(../img/RucheForet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.Partie3Image5 {
    grid-column: 6 / span 1;
    grid-row: 1 / span 1;
    background-image: url(../img/Abeille.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.Partie3Image6 {
    grid-column: 6 / span 1;
    grid-row: 2 / span 1;
    background-image: url(../img/Fleur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}


/* styles du footer du site */
footer {
    background-color: #2D170E;
    color: white;
}

.FooterGlobal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 80%;
    margin: auto;
}

.FooterPartie1 {
    height: 100%;
    padding-right: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h3 {
    font-weight: bold;
}

.BordureFooterGauche {
    display: flex;
    flex-direction: column;
    border-left: 1px solid white;
    padding-left: 8px;
    gap: 32px;
}

/* boutons du footer (les liens) */

.FooterBouton1 {
    color: white;
    align-self: flex-start;
    color: white;
    font-weight: bold;
}

.FooterPartie2Parent {
    padding-left: 10%;
}

.FooterPartie2 {
    display: flex;
    gap: 10%;
}

.FooterPartie2SousPartie1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-left: 1px solid white;
    padding-left: 16px;
    align-self: self-start;
}

.FooterPartie2SousPartie2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-left: 1px solid white;
    padding-left: 16px;
    align-self: self-start;
}

.ArrangementDeLaPartie2DuFooter {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.LienRapides {
    margin-top: 32px;
    margin-bottom: 32px;
}

.ListeDesActions {
    display: flex;
    gap: 32px;
}

/* partie basse du footer et informations */

.FooterPartieBasse {
    width: 80%;
    margin: auto;
    padding-bottom: 16px;
}

.FooterPartieBasseBordure {
    margin-top: 16px;
    margin-bottom: 16px;
    border-top: 1px solid white;
}

.ParentFooterLogo {
    display: flex;
    justify-content: start;
    margin-top: 32px;
    gap: 32px;
}

.FooterLogo {
    width: 32px;
    height: 32px;
}

/* liens avec trait qui se forme en dessou footer */

.Actions {
    text-decoration: none;
    color: white;
    position: relative;
}

.Actions::before {
    content: "";
    position: absolute;
    height: 1px;
    background: white;
    width: 0%;
    bottom: 0;
    transition: 0.4s;
}

.Actions:hover::before {
    width: 100%;
}

.ParentPartie4 {
    background-color: #FAF0E3;
    padding-bottom: 64px;
    padding-top: 64px;
}

.MesRuches {
    display: flex;
    justify-content: space-around;
}

/* ruches de l'utilisateur, les 3 premières */

.ContourRuche {
    border: dashed 1px #B95E06;
    padding: 8px;
    border-radius: 16px;
    border-style: dashed;
}

.UneRuche {
    border: dashed 1px #ae702aad;
    border-radius: 8px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
}

/* partie 4 du site */

.Partie4Titre {
    color: #212121;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    font-family: Montserrat-black;
}

.ParentPartie4Bouton {
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding-top: 8px;
}

.Partie4Bouton {
    background-color: #B95E06;
    padding: 12px 18px 12px 18px;
    margin-top: 16px;
    border-radius: 8px;
    color: white;
}

.Partie4 {
    width: 80%;
    margin: auto;
}


/* style de l'affichage des ruches de l'utilsiateur */
.ImageDeLaRuche {
    border-radius: 8px 8px 0px 0px;
}

.MaRucheTitre {
    font-weight: bolder;
    padding-left: 4px;
    margin-top: auto;
}

.InfoRuche {
    padding-left: 16px;
}

.MaRucheBouton {
    background-color: #B95E06;
    color: white;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    justify-content: center;
    padding: 4px;
}


/* partie avec la carte visible, et les ruches aussi si l'utilisateur en possède */
.Partie5 {
    width: 80%;
    margin: auto;
}

.Partie5Titre {
    color: #212121;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    font-family: Montserrat-black;
}

#map {
    width: 100%;
    height: 400px;
}

/* infos variées ruches connectées */

.ParentPartie6 {
    background-color: #FAF0E3;
    padding-top: 64px;
    padding-bottom: 64px;
}

.Partie6 {
    width: 80%;
    margin: auto;
}


/* décoration générale */
.AbeilleDeco1 {
    width: 1.7%;
    position: fixed;
    top: 100%;
    left: 52%;
    transform: rotate(-45deg);
    z-index: -1;
    animation: infinite 64s Voler linear;
}

.AbeilleDeco2 {
    width: 1.7%;
    position: fixed;
    top: 30%;
    left: 95%;
    transform: rotate(-45deg);
    z-index: -1;
}

.AbeilleDeco3 {
    width: 1.7%;
    position: fixed;
    top: 87%;
    left: 12%;
    transform: rotate(45deg);
    z-index: -1;
}

@keyframes Voler {
    0%{
        transform: rotate(0deg);
        top: 110%;
        left: 50%;
    }
    1%{
        transform: rotate(-25deg);
    }
    10% {
        top: 90%;
        left: 43%;
    }
    11% {
        transform: rotate(16deg);
    }
    20% {
        top: 78%;
        left: 52%;
    }
    27%{
        /* Rien, elle attend */
    }
    28% {
        transform: rotate(-4deg);
    }
    35% {
        top: 61%;
        left: 48%;
    }
    36% {
        transform: rotate(-6deg);
    }
    45% {
        top: 52%;
        left: 42%;
    }
    56% {
        transform: rotate(5deg);
    }
    65% {
        top: 42%;
        left: 50%;
    }
    69%{
        /* Elle attend encore */
    }
    70% {
        transform: rotate(-1deg);
    }
    79% {
        top: 34%;
        left: 47%;
    }
    80% {
        transform: rotate(3deg);
    }
    89% {
        top: 29%;
        left: 51%;
    }
    90%{
        transform: rotate(-9deg);
    }
    91%{
        top: 17%;
        left: 54%;
    }
    100% {
        top: -10%;
        left: 50%;
    }
}

.SVG1 {
    position: fixed;
    transform: rotate(8deg);
    top: 0%;
    left: 0%;
    z-index: -1;
}

.SVG2 {
    position: fixed;
    transform: rotate(200deg);
    left: 0%;
    top: 0%;
    z-index: -1;
}

.ParentPartie3 {
    padding-top: 64px;
    padding-bottom: 64px;
}

.ParentPartie5 {
    padding-top: 64px;
    padding-bottom: 64px;
}

/* .ParentPartie1 {
    padding-top: 32px;
    min-height: 100vh;
} */

/* partie administreurs style */

/* cache foncé au cas ou il y a un pop up informatif */
.cache_fond {
    position: fixed;
    background: rgba(0, 0, 0, 0.697);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    display: none;
    z-index: 10000;
    transition: 0.4s;
}

.cache_plein {
    display: block !important;
    opacity: 1;
}


/* pop up demandes de ruches */
.pop_up_admin_demande {
    position: fixed;
    background: #F7F3F0;
    border-radius: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10001;
    max-height: 420px;
    width: 350px;
    overflow-y: scroll;
    scrollbar-color: rgb(245, 231, 214) rgba(125, 125, 125, 0);
    scrollbar-width: thin;
    display: none;
    padding-inline: 20px;
    transition: 0.4s;
}

.parentmess{
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #B95E06;
    font-weight: bold;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.223);
    position: sticky;
    background: #F7F3F0;
    bottom: 0;
}

.popupouverte {
    display: block;
}


/* interieur de la fenetre de pup up */
.topinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: #F7F3F0;
}

.topinfo>img {
    width: 30px;
}

/* demandes de ruches */
.demande {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: dashed #B95E06 0.5px;
    margin-bottom: 10px;
    border-bottom: dashed #B95E06 0.5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nom_user {
    font-family: Montserrat-black;
}

/* boutons acepter ou refuser l'ajout d'une ruche */

.accept_ruche {
    border-radius: 5px;
    background: #B95E06;
    font-family: Montserrat-bold;
    color: white;
    padding: 5px;
    padding-inline: 15px;
}

.refus_ruche {
    border-radius: 5px;
    font-family: Montserrat-bold;
    color: #B95E06;
    border: solid 1px #B95E06;

    padding: 5px;
    padding-inline: 15px;
}

.boutons_Ajout_Ruche {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: center;
}

.informationdemande {
    font-family: Montserrat-bold;
    margin-top: 50px;
    padding-inline: 20px;
    margin-bottom: 50px;
}


/* mail admin */
.mail {
    position: relative;
}

.ptsrouge {
    width: 20px;
    background: rgb(255, 115, 0);
    border-radius: 100%;
    color: white;
    position: absolute;
    height: 20px;
    right: -3px;
    top: -3px;
}

.letxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* menus du header sur mobile */

.tribarres {
    display: none;
}

.liensdéroulant {
    display: none;
}

/* pop up "êtes vous sur de supprimer ?" */

.fixeddanslefixed{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100004;
    transform: translate(-50%, -50%);
    background: #F7F3F0;
    border: solid #D38932 1px;
    padding: 20px;
    border-radius: 20px;
    display: none;
}

.fixeddanslefixed2{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100004;
    transform: translate(-50%, -50%);
    background: #F7F3F0;
    border: solid #D38932 1px;
    padding: 20px;
    border-radius: 20px;
    display: none;
}

.ledarondufixe{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
    z-index: 10003;
}

.ledarondufixe2{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
    z-index: 10003;
}
.ouijesuppr{
    padding: 5px;
    border-radius: 7px;
    border: 1px solid #B95E06;
    color: #B95E06;
    padding-inline: 80px;

}
.nonjesuppr{
    padding: 5px;
    border-radius: 7px;
    background: #B95E06;
    color: white;
    padding-inline: 80px;
    cursor: pointer;
}

.ouijesuppr2{
    padding: 5px;
    border-radius: 7px;
    border: 1px solid #B95E06;
    color: #B95E06;
    padding-inline: 80px;

}
.nonjesuppr2{
    padding: 5px;
    border-radius: 7px;
    background: #B95E06;
    color: white;
    padding-inline: 80px;
    cursor: pointer;
}
.ouverturepopoup{
    display: block;
}

.flexatomique{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

/* bolder + alerte */


.alerte{
    color: #c71b1b;
    font-family: Montserrat-bold;
}