/* site général */

body{
    font-size: 14px;
}

img {
    width: 100%;
}

/* titre et header */

.TitrePrincipal {
    font-size: 42px;
}

.SousTitre {
    margin-bottom: 12px;
    font-size: 16px;
}

/* Partie 1 qui présente le site */
.Partie1Bouton {
    display: flex;
    gap: 8px;
    font-weight: bold;
    width: 100%;
    justify-content: center;
}

.Partie1Bouton1 {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.Partie1Bouton2 {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

/* Partie2 en Grid */
.Partie2 {
    display: grid;
    grid-template-rows: auto auto auto;
    /* Trois lignes : titre, texte, image */
    grid-template-columns: 1fr;
    /* Une seule colonne */
    gap: 15px;
    padding: 10px;
}

.Partie2Titre {
    grid-row: 1;
    /* Titre en premier */
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.Partie2Texte {
    grid-row: 2;
    /* Texte en deuxième */
    font-size: 16px;
    line-height: 1.5;
}

.Partie2Image {
    grid-row: 3;
    /* Image en troisième */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}

.Partie2Image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Pop up des admin */
.pop_up_admin_demande {
    width: 80%;
    margin: auto;
}

/* Carte des ruches */
.carte_ruche {
    display: none;
}

/* Mise en page du formulaire de la page gestion des ruches */
.nom_ruche>label {
    flex-direction: column;
    align-items: start;
}

.nom_ruche>label>input {
    width: 100%;
    margin-left: 0px;
}

/* Mise en page du formulaire en bas de la page gestion des ruches */
.mdp>label {
    flex-direction: column;
    align-items: start;
}

.mdp>label>input {
    margin-left: 0px;
    width: 100%;
}

.validation>label{
    flex-direction: column;
    align-items: start;
}

.validation>label>input{
    margin-left: 0px;
}

.motdepasse{
    width: 100%;
}

.flexatomique{
    grid-template-columns: 1fr;
}