body {
    margin: 0;
}

img {
    width: 100%;
}

.TitrePrincipal {
    font-size: 42px;
}

.SousTitre {
    margin-bottom: 12px;
    font-size: 16px;
}

.ParentPartie1 {
    width: 80%;
    margin: auto;
}

.ParentPartie1 {
    padding-top: 32px;
    min-height: 100vh;
}

.Partie1 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-bottom: 0px;
    gap: 24px;
}

.Partie1Bouton {
    display: flex;
    gap: 8px;
    font-weight: bold;
    width: 100%;
    justify-content: center;
}

.Partie1Bouton1 {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.Partie1Bouton2 {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.Partie1Image {
    padding-left: 0%;
    margin: auto;
}

.BoutonHeader {
    padding: 8px;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.TitreHeader {
    font-size: 16px;
}

/* Partie2 en Grid */
.Partie2 {
    display: grid;
    grid-template-rows: auto auto auto;
    /* Trois lignes : titre, texte, image */
    grid-template-columns: 1fr;
    /* Une seule colonne */
    gap: 15px;
    padding: 10px;
}

.ParentPartie2 {
    padding-top: 16px;
}

.Partie2Titre {
    grid-row: 1;
    /* Titre en premier */
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.Partie2Texte {
    grid-row: 2;
    /* Texte en deuxième */
    font-size: 16px;
    line-height: 1.5;
}

.Partie2Image {
    grid-row: 3;
    /* Image en troisième */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}

.Partie2Image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}