.Partie1Image {
    padding-left: 0%;
    margin: auto;
}

.BoutonHeader {
    padding: 8px;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.TitreHeader {
    font-size: 16px;
}

header {
    background: #F7F3F0;
    z-index: 1000;
    position: sticky;
    top: 0;
}

.HeaderPartieDroite {
    display: none;
}

.liensdéroulant>.BoutonHeader2 {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-inline: 40px;

}

.liensdéroulant>.BoutonHeader2:hover {
    background-color: #FAF0E3;
}

.tribarres {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.barresingle {
    width: 40px;
    height: 4px;
    background: #B95E06;
}

.liensdéroulant {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background: #F7F3F0;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.4s;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.199);
}

.ouvertmenu {
    transform: scaleY(1);
}

.Partie1 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-bottom: 0px;
    gap: 24px;
}

.ParentPartie1 {
    width: 80%;
    margin: auto;
    padding-top: 32px;
    padding-bottom: 32px;
}

.TitrePrincipal {
    font-size: 64px;
}

.Partie1Image{
    width: 60%;
}

.ParentPartie2 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.ParentPartie3 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.ParentPartie4 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.ParentPartie5 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.ParentPartie6 {
    padding-top: 32px;
    padding-bottom: 32px;
}