/* Mise en forme de la page d'accueil */
.Partie1Image {
    padding-left: 0%;
    margin: auto;
}

/* Nouveau header du site */
.BoutonHeader {
    padding: 8px;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.TitreHeader {
    font-size: 16px;
}

header {
    background: #F7F3F0;
    z-index: 1000;
    position: sticky;
    top: 0;
}

.HeaderPartieDroite {
    display: none;
}

.liensdéroulant>.BoutonHeader2 {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-inline: 40px;

}

.liensdéroulant>.BoutonHeader2:hover {
    background-color: #FAF0E3;
}

.tribarres {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.barresingle {
    width: 40px;
    height: 4px;
    background: #B95E06;
}

.liensdéroulant {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background: #F7F3F0;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.4s;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.199);
}

.ouvertmenu {
    transform: scaleY(1);
}

/* Mise en forme de la partie 1 de la page d'accueil */
.Partie1 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-bottom: 0px;
    gap: 24px;
}

.ParentPartie1 {
    width: 80%;
    margin: auto;
    padding-top: 32px;
    padding-bottom: 32px;
}

.TitrePrincipal {
    font-size: 64px;
}

.Partie1Image{
    width: 60%;
}

/* Taille de toutes les parties de la page d'accueil */
.ParentPartie2 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.ParentPartie3 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.ParentPartie4 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.ParentPartie5 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.ParentPartie6 {
    padding-top: 32px;
    padding-bottom: 32px;
}

/* footer du site sur mobile */


.BordureFooterGauche {
    display: none;
}

.FooterGlobal {
    grid-template-columns: 1fr;
}

.FooterPartie2 {
    display: block;
}

.FooterPartie2Parent {
    padding-left: 0;
}

.ListeDesActions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    font-size: 14px;
}

.mail2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* On enlève ce qui apparait pas en version tablette et mobile */
.ptsrouge {
    display: none;
}

.LaBarre{
    display: none;
}

.LaBarre2{
    display: none;
}

.MesRuches {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    justify-content: space-around;
}

/* Mise en forme des photos de la partie 3 de la page d'accueil */
.Partie3 {
    min-height: 200px;
    grid-template-columns: repeat(3, 1fr);
}

.Partie3Image1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.Partie3Image2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.Partie3Image3 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.Partie3Image4 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.Partie3Image5 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.Partie3Image6 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

/* Remise en page du formulaire de la page gestion des ruches */
.grid_ajout_ruche>form {
    width: 100%;
}

.form_elt>input:nth-child(2) {
    width: 100%;
}

.form_elt>label {
    border: #B95E06 dashed 0.3px;
    padding: 20px;
    padding-inline: 16px;
}

.grid_ajout_user{
    display: block;
}

.grid_ajout_ruche {
    display: flex;
}

body {
    margin: 0;
}

/* Page gestion des ruches pour changer de photo de profile */
.photo>img{
    max-width: 300px;
}

#leftphoto{
    align-items: center;
    gap: 8px;
}

.parentdoubleFormulaire>form>button{
    width: fit-content;
    margin: auto;
    padding: 16px 32px;
}

/* Les notes d'une ruche */
.reponse{
    grid-column: span 2;
    width: auto;
    text-align: center;
}

/* Voir les information d'un utilisateur */
.pop_up_fixed_info_users{
    display: block;
    grid-template-columns: 1.5fr 3.5fr;
    width: 85%;
    padding: 32px;
}

.photo_left{
    display: none;
}

.back{
    width: 90%;
}

/* Voir ses ruches sur la carte */
.carte_ruche{
    display: flex;
    align-items: center;
}

form{
    width: 320px;
}